#mainCardIns:after {
    position: absolute;
    content: "";
    border-bottom: 40px solid transparent;
    border-left: 40px solid transparent;
    border-top:40px solid gray;
    border-right: 40px solid gray;
    top: 0;
    right: 0;
}
