@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@500&display=swap");
.text-font-sp {
    font-family: "Edu NSW ACT Foundation", cursive;
    font-weight: bold;
    
}

.welcomeText {
    width: 100%;
    text-align: center;
}