#basic-navbar-nav {
    font-family: 'Heebo', sans-serif;
    font-weight: 600;

}

#nav-brand {
    font-family: 'Zilla Slab', serif;
}


.active {
    border-bottom: 3px solid;
    margin-bottom: 0;
    padding-bottom: 0;
}

.navbar-main {
    box-shadow: 2px 4px 10px #818080;
}

.main-color-navbar {
    background-color: #cbedf8 !important;
}
